img {
    width: 50%;
    background: rgb(0, 58, 68);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin: 10px auto;
}

body {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}